<div>
  <div><%= link_to "NAME : #{product.name}", product_path(product)%> </div>
  <div>DESCRIPTION : <%=product.description%></div>
  <div >PRICE IN CENTS : <%=product.formatted_price%></div>
</div>
