<h1>Products</h1>
<%=link_to "Create a new product", new_product_path%>

<% @products.each do |f| %>
  <p><%= link_to "NAME : #{f.name}", product_path(f)%> </p>
  <p>DESCRIPTIOM : <%=f.description%></p>
  <p>PRICE IN CENTS : <%=f.formatted_price%></p>
<%end%>
